:root {
  /* Border top card colors */
  --border-top-color-supervisor-card: hsl(180, 62%, 55%);
  --border-top-color-team-builder-card: hsl(0, 78%, 62%);
  --border-top-color-karma-card: hsl(34, 97%, 64%);
  --border-top-color-calculator-card: hsl(212, 86%, 64%);

  /* Background colors */
  --primary-background-color: hsl(0, 0%, 98%);

  /* Text colors */
  --primary-text-color: hsl(234, 12%, 34%);
  --secondary-text-color: hsl(229, 6%, 66%);

  /* Font sizes */
  --large-font-size: 2rem;
  --small-font-size: 1.5rem;

  /* Font family */
  --primary-font-family: "Poppins", sans-serif;

  /* Font weights */
  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  /* Breakpoints */
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;

  /* Widths */
  --content-max-width: 1440px;
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  margin: 0 auto;
  padding: 48px 28px 24px;
  font-family: var(--primary-font-family);
  max-width: var(--content-max-width);
  min-height: inherit;
  background-color: var(--primary-background-color);
}

.main-header {
  text-align: center;
}

.main-header__title {
  margin-bottom: 16px;
  font-size: var(--large-font-size);
  color: var(--primary-text-color);
  font-weight: var(--font-weight-light);
}

.main-header__title-bold {
  font-weight: var(--font-weight-bold);
}

.main-header__paragraph {
  font-size: var(--small-font-size);
  color: var(--secondary-text-color);
  font-weight: var(--font-weight-regular);
}

.card-container {
  margin: 100px 0;
}

.card-container__card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 24px;
  padding: 32px;
  box-shadow: 0 12px 12px hsla(0, 0%, 0%, 0.1);
}

.card-container__card--border-top-cyan {
  border-top: 4px solid var(--border-top-color-supervisor-card);
}

.card-container__card--border-top-red {
  border-top: 4px solid var(--border-top-color-team-builder-card);
}

.card-container__card--border-top-orange {
  border-top: 4px solid var(--border-top-color-karma-card);
}

.card-container__card--border-top-blue {
  border-top: 4px solid var(--border-top-color-calculator-card);
}

.card-container__card-title {
  margin-bottom: 4px;
  font-size: var(--large-font-size);
  font-weight: var(--font-weight-bold);
  color: var(--primary-text-color);
}

.card-container__card-body {
  color: var(--secondary-text-color);
  font-weight: var(--font-weight-regular);
  font-size: var(--small-font-size);
}

.card-container__card-icon {
  width: 48px;
  margin-top: 32px;
  align-self: flex-end;
}

.attribution {
  text-align: center;
  font-size: var(--small-font-size);
}
